<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bot Interface | <%= title %> </title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <svg>
    <defs>
      <filter id="filter">
        <feGaussianBlur in="SourceGraphic" stdDeviation="18" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0
        0 1 0 0 0
        0 0 1 0 0
        0 0 0 28 -10" result="filter" />
        <feComposit in="SourceGraphic" in2="filter" operator="atop" />
      </filter>
    </defs>
  </svg>
  <section id="splash">
    <div id="nth-2">
      <div class="text">
        <h1 id="flip" class="heading">Selamat malam <%= ownername %></h1>
        <h1 id="flip2" class="heading">Bagaimana kabarmu?</h1>
      </div>
      <div class="wrapper">
        <div class="logo" id="logo">
          <img class="logo logo-img" src="https://camo.githubusercontent.com/0682632be6a85a989f8a1d3098d90ca0ce1d55ed3b35639824173253480a7813/68747470733a2f2f66696c65732e636174626f782e6d6f652f616d376a64662e6a706567" alt="Shikimori">
        </div>
        <span class="under"></span>
      </div>
      <p class="footer">Copyright <script>document.write(new Date().getFullYear())</script> DitzDev & FXD</p>
    </div>
    <div id="nth-1">
      <button id="interface">Open Interface</button>
    </div>
  </section>

  <script src="/script.js"></script>
</body>
</html>